body {
    width: 100%;
    border: 0px solid var(--light);
    border-bottom-style: solid;
}

.Boolean_cell_false {
    background-color: #FF0000;
}

.Boolean_cell_true {
    background-color: #00FF00;
}

table, th, td {
    border: 1px solid;
    text-align: center;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
}
tr:nth-child(even) {background-color: #f2f2f2;}